* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f5f8;

  color: #fff;
}
.container {
  text-align: center;
}
.container h2 {
  background: #000;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  font-size: 32px;
  margin-bottom: 10px;
  font-family: "Tomorrow";
}
.color {
  transition: color 0.275s ease;
}
.flash-color {
  color: #222;
}
.btn {
  background-color: transparent;
  padding: 8px;
  border: 2px solid #222;
  border-radius: 5px;
  font-size: 18px;
  letter-spacing: 1.5px;
  color: #222;
  outline: none;
  cursor: pointer;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.btn:hover {
  background-color: #222;
  color: #fff;
  transition: all 0.275s ease-in;
}
.click {
  color: #222;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 1.5px;
}
